.contacButton{
    border: 1px solid white;
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border-radius: 30px;
}  
.menuLeftContanier{
    width: 100%;
}

.menuContainer{
    width: 100%;
    color:white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    /* top: 0; */
    
}
.menuCenter,.menuLeft,.menuRight{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menuScomparsa{
    transition: transform .5s ease-out;
}
.show{
    transform: translateY(0%) !important;
}
.mobileMenu{
    color: white;
    height: 150px;
}
.item{
    padding: 10px 0;
}
.mobileContanier{
    color: white;
    text-align: center;
    
}
.hide{
    transform: translateY(-150%);
    
}
@media(max-width:768px){
    .menuContainer{
        display: none !important;
    }
}  

@media(max-width:767px){
    .mobileMenu{
        display: block !important;
    }
}   

@media(min-width:768px){
    .mobileMenu{
        display: none !important;
        height: 150px;
        width: 100%;
        position: fixed;
        top: 0;
    }
}   