.container-fluid{
    background-color: black;
    width: 100vw;
}
.contacButton{
    border: 1px solid white;
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border-radius: 30px;
} 



.text{
    color: white;
    padding: 50px 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
.title{
    font-size: 130px;
}
.subTitle{
    width: 70%;
    margin: auto;
}
.subTitle>h6{
    font-size: 40px !important;

}
.header{
    padding: 40px 0;
}
.riquadro{
    width: 80%;
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    height: 600px;
    background-size:cover;
    background-position: center center;
}
.darkBackground {
    width: 100%;
    height: 100%;
    position: relative;
}

.darkBackground:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.imgtext {
    position: absolute;
    bottom: 0;    
}

#uno, #cinque{
    background-image: url('../immagini/img1.jpg');
}
#due, #sei{
    background-image: url('../immagini/img2.jpg');
}
#tre{
    background-image: url('../immagini/img3.jpg');
}
#quattro{
    background-image: url('../immagini/img4.jpg');
}
.imgtext{
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px 0;
}

.footer-menu{
    padding: 20px 0;
    width: 100%;
    text-align: center;
}
.textPilosphy,.textAbout{
    margin: auto;
}
.textPilosphy >a, .textAbout  >a{ 
    color: white;
    font-size: 100px;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    text-decoration: none;
    padding: 20px 0;
}
.box{
    margin-top: 25px;
    margin-bottom: 20px;
}
.textPilosphy >a:hover, .textAbout  >a:hover{
    color: #f400a1;
}