.container-fluid{
    background-color: black;
    height: 200vh;
    width: 100vw;

}

.menuLeftContanier{
    width: 100%;
}

.menuContainer{
    height: 150px;
    width: 100%;
    color:white;
    margin: auto;
    position: fixed;
    top: 0;
}
.menuCenter,.menuLeft,.menuRight{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* .menuLeft{
    background-color: red;
    
}

.menuCenter{
    background-color: blue;

}

.menuRight{
    background-color: green;

} */

.contacButton{
    border: 1px solid white;
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border-radius: 30px;
} 

.mobileMenu{
    color: white;
}

@media(max-width:768px){
    .menuContainer{
        display: none !important;
    }
}  
@media(min-width:768px){
    .mobileMenu{
        display: none !important;
        height: 150px;
        width: 100%;
        position: fixed;
        top: 0;
    }
}   
