.container-fluid{
    background-color: black;
    width: 100vw;

}

.menuLeftContanier{
    width: 100%;
}

.menuContainer{
    height: 150px;
    width: 100%;
    color:white;
    margin: auto;
    position: fixed;
    top: 0;
    
}
.menuCenter,.menuLeft,.menuRight{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#menuScomparsa{
    transition: transform .5s ease-out;
}

.show{
    transform: translateY(0%) !important;
}
/* .menuLeft{
    background-color: red;
    
}

.menuCenter{
    background-color: blue;

}

.menuRight{
    background-color: green;

} */

.contacButton{
    border: 1px solid white;
    padding: 15px 40px;
    background-color: transparent;
    color: white;
    border-radius: 30px;
} 

.mobileMenu{
    color: white;
    height: 150px;
}
.item{
    padding: 10px 0;
}
.mobileContanier{
    color: white;
    text-align: center;
    
}
.hide{
    transform: translateY(-300%);
    
}
@media(max-width:768px){
    .menuContainer{
        display: none !important;
    }
}  
@media(min-width:768px){
    .mobileMenu{
        display: none !important;
        height: 150px;
        width: 100%;
        position: fixed;
        top: 0;
    }
}   

.text{
    color: white;
    padding: 50px 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
}
.title{
    font-size: 100px;
}
.subTitle{
    width: 70%;
    margin: auto;
}
.subTitle>h6{
    font-size: 40px !important;

}
.header{
    padding: 40px 0;
}
.riquadro{
    width: 80%;
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
img{
    width: 100%;
}
.imgtext{
    width: 100%;
    text-align: center;
    color: white;
    padding: 15px 0;
}